/* 追加するCSS */
.header{background-color: blueviolet;}
.post-form{
    display:flex
}
.post-form-submit{
    margin-left: auto;
}
.bodyy{
    background-color: #dfc4fa;
}
/* 投稿に関するCSS */
.post {
    display: flex;
}

.zuttoissyo{
    width: 360px;
    bottom: 0px;
    left:0px;
}
.post-icon {
    width: 120px;
}
.post-form-message{
    margin-left: 25px;
}
.post-image {
    width: 100%;
}

.post-name {
    font-weight: bold;
}

.post-text {
    width: 100%;
}

.post-info {
    position: relative;
    width: 100%;
    background-color: #996699;
    margin: 20px;
    border-radius: 36px;
    padding: 10px;
}

.post-action {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* inputのデフォルトスタイルをリセット */
.post-not-edit-input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textareaのデフォルトスタイルをリセット */
.post-not-edit-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}